<h2>BUSCAR PELICULA</h2>
<form action="/peliculas" method="GET">
  <div class="form-group row">
    <div class="form-group col">
      <label>Titulo</label>
      <input type="text" class="form-control" name="name" value="<%= searchOptions.name %>">
    </div>
  </div>
  <div class="form-group row">
    <div class="form-group col-md-6">
      <label>Estrenada despues de</label>
      <input type="date" class="form-control" name="premieredAfter" value="<%= searchOptions.premieredAfter %>">
    </div>
    <div class="form-group col-md-6">
      <label>Estrenada antes de</label>
      <input type="date" class="form-control" name="premieredBefore" value="<%= searchOptions.premieredBefore %>">
    </div>
  <div>
  <button class="btn btn-primary" type="submit" style="margin: 20px;">Buscar</button>
</form>
<div class="row" style="margin-top: -50px;">
  <% peliculas.forEach(pelicula => { %>      
    <div class="col-md-4" style="width: 200px; height: 300px; object-fit: cover; margin-top: 50px;" >
      <figure>
        <a href="/peliculas/<%= pelicula.id %>">
          <img class="img-fluid" style="width: 200px; height: 300px; object-fit: cover;"  src="<%= pelicula.coverImagePath %>">
          <div class="row" style="width: 200px; height: 300px; object-fit: cover; text-align: center;" >
            <figcaption style="text-align: center;"><h5><%= pelicula.name %></h5></figcaption>
          </div>
        </a>
      </figure>
    </div>
  <% }) %>
</div>